:root {
    font-family: "Darker Grotesque", sans-serif;
    font-weight: 700;
    min-width: 250px;
    --title-color: #DEB959;
    --fundo-azul: #2C5680;
}
a:link {
    text-decoration: none;
    color: #000000;
  }
  
  a:visited {
    text-decoration: none;
    color: #000000;
  }
  
  a:hover {
    text-decoration: none;
    color: #000000
  }
  
  a:active {
    text-decoration: none;
    color: #000000
  }

/*

 #     #  #######     #     ######   #######  ######  
 #     #  #          # #    #     #  #        #     # 
 #     #  #         #   #   #     #  #        #     # 
 #######  #####    #     #  #     #  #####    ######  
 #     #  #        #######  #     #  #        #   #   
 #     #  #        #     #  #     #  #        #    #  
 #     #  #######  #     #  ######   #######  #     # 
                                                      

*/
.header-logo {
    position: absolute;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.header-container {
    width: 90%;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 1.6rem 0;   
    transition: 0.5s;
}

header {
    position: sticky;
    z-index: 10;
    top: 0;
    width: 100%;
    background-color: #85CDF5;   
}

.header-active{
    padding: .8rem 0;
    transition: 0.5s;
}

header nav ul {
    color: #333;
    display: flex;
    font-size: 1.4rem;
    width: 100%;
    justify-content: space-between;
    margin: auto;
}

.lobo-link:hover{
    opacity: 1;
    transition: width 1s ease-in-out;
}

.link-anim1::after {
    display: block;
    background-color: #000000;
    content:"";
    height: 2px;
    width: 0px;
    float: left;
}

.link-anim1:hover::after {
    width: 100%;
    transition: width 1s ease; 
}

.sub-lobo::after {
    display: inline-block;  
    background-color: #FFFFFF;
    content:"";
    height: 5px;
    width: 0px;
    text-align: center;
}

.sub-lobo:hover::after {
    width: 100%;
    transition: width 1s ease-in-out; 
}

.link-anim2::after {
    display: block;
    background-color: #000000;
    content:"";
    height: 2px;
    width: 0px;
    float: right;
}

.link-anim2:hover::after {
    width: 100%;
    transition: width 1s ease; 
}

/*

 #     #     #     ###  #     # 
 ##   ##    # #     #   ##    # 
 # # # #   #   #    #   # #   # 
 #  #  #  #     #   #   #  #  # 
 #     #  #######   #   #   # # 
 #     #  #     #   #   #    ## 
 #     #  #     #  ###  #     # 
                                

*/

main {
    display: block;
    min-width: 250px;
    width: 100%;
}

.about-us-content{
    display: block;
    width: 100%;
    height: auto;
}

.lobo-fundo {
    background: url("../assets/bgLobo.png") no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ffffff;   
    height: 500px;
    text-align: center;
    padding-top: 11em;
    
}

.lobo-fundo h1 {
    font-size: 6em;
    line-height: 1em;
    text-shadow: 2px 2px #000;
}

.lobo-fundo h5 {
    text-align: center;
    font-size: 2em;
    font-weight: 400;
    padding-right: .4em;
    padding-left: .4em;
    max-width: 500px;
    min-width: 300px;
    text-shadow: 1px 1px #000;
    margin-top: 1.6em;
}

/*

  #####   #######  ######   ######   ####### 
 #     #  #     #  #     #  #     #  #       
 #        #     #  #     #  #     #  #       
  #####   #     #  ######   ######   #####   
       #  #     #  #     #  #   #    #       
 #     #  #     #  #     #  #    #   #       
  #####   #######  ######   #     #  ####### 
                                             

*/

.about-us {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--fundo-azul);
    width: 100%;    
}

.about-us h2 {
    color: var(--title-color);
    font-size: 3em;
    text-align: center;
    padding: 1.2em 0;
}

.about-us h5 {
    color: #ffffff;
    text-align: center;
    line-height: 1.5em;
    font-weight: 400;
    font-size: 1.2em;
    padding-right: .4em;
    padding-left: .4em;
    padding-bottom: 4em;
    max-width: 1024px;
    min-width: 100px;
}

/*

 #     #     #     #        #######  ######   #######   #####  
 #     #    # #    #        #     #  #     #  #        #     # 
 #     #   #   #   #        #     #  #     #  #        #       
 #     #  #     #  #        #     #  ######   #####     #####  
  #   #   #######  #        #     #  #   #    #              # 
   # #    #     #  #        #     #  #    #   #        #     # 
    #     #     #  #######  #######  #     #  #######   #####  
                                                               

*/

.valores {
   background-color: #333333;
   color: #ffffff;
}

.valores div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
}

.valores div h2 {
    color: var(--title-color);
    font-size: 3em;
    text-align: center;
    padding-top: .8em;
}

.valores .cards2 {
    display: flex;
    flex-direction: column;  
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    padding: .4em; 
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 220px;
    height: 300px;
   
}

.valores div h4 {
    font-size: 2em;
    line-height: 2.4em;
}

.moldura{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #fafafa;
}
.moldura img{
    width: 125px;
    height: 125px;
}
/*

 #        #######  ######   #######   #####       #######  #     #  #######  #     #  ######   #        #######   #####  
 #        #     #  #     #  #     #  #     #      #         #   #   #        ##   ##  #     #  #        #     #  #     # 
 #        #     #  #     #  #     #  #            #          # #    #        # # # #  #     #  #        #     #  #       
 #        #     #  ######   #     #   #####       #####       #     #####    #  #  #  ######   #        #     #   #####  
 #        #     #  #     #  #     #        #      #          # #    #        #     #  #        #        #     #        # 
 #        #     #  #     #  #     #  #     #      #         #   #   #        #     #  #        #        #     #  #     # 
 #######  #######  ######   #######   #####       #######  #     #  #######  #     #  #        #######  #######   #####  
                                                                                                                         

*/
.lobos-exemplo-titulo {
    color: var(--title-color);
    font-size: 3em;
    text-align: center;
    padding: 1.0em 0;
}

/* .card-wolf-div{
    
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding: 1em 1em;
    width: 100%;
    height: 100%;
    
} */

.card-lobo {     
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
    width: 100%;
    margin:auto;
}

.card-lobo:nth-child(2) {       
    flex-direction: row-reverse;
}

.card-lobo-texto {
    display: flex;  
    flex-flow: column wrap;
    width: 300px;
    margin: 1em;
}

.card-lobo-texto p{
    padding-top: 2em;
}

.card-lobo-imagem {
   
    display: flex;   
    width: 300px;
    height: 200px;  
    margin: 1.5em;
    box-shadow: -20px -20px var(--fundo-azul),-23px -23px #000,  -17px -23px #000, -23px -17px #000;
    
}


/*
 #######  #######  #######  #######  #######  ######  
 #        #     #  #     #     #     #        #     # 
 #        #     #  #     #     #     #        #     # 
 #####    #     #  #     #     #     #####    ######  
 #        #     #  #     #     #     #        #   #   
 #        #     #  #     #     #     #        #    #  
 #        #######  #######     #     #######  #     # 
                                                      

*/
.footer {
    display: inline-flex;
    align-items: center;
    justify-content: center;      
    flex-flow:row wrap;  
    background-color: #333333;
    color: #ffffff;  
    width: 100%;        
}

footer {
    display: block;   
    align-items: center;
    justify-content: center; 
    background-color: #333333;
    color: #ffffff;
    bottom: 0; 
    width: 100%;           
}

.map {
    display: block;
    padding: .8rem;
}

.address {
    font-size: 1em;
    font-weight: 300;
    line-height: 2.5;
    padding: .6rem;
    margin: .6rem;
    width: 300px;
}

.who-we-are {  
    background-color:  var(--title-color);;
    font-size: 1.2em;
}

.who-we-are:hover {
    background-color: #000000;
    color: var(--title-color);
    cursor: pointer;
    border-color: var(--title-color);
}

.logo {    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    width: 250px;  
    height: 250px;
}
